<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="DashBoard">
        <parameter name="browser" value="chrome"/>

        <classes>
<!--            <class name="testcases.dashBoardTA.LoginTest"></class>-->
            <class name="testcases.dashBoardTA.MainPageTest">
<!--                <methods>-->
<!--                    <include name="TC11"/>-->
<!--                </methods>-->
<!--                <methods>-->
<!--                    <include name="TC16"/>-->
<!--                </methods>-->

                <methods>
                    <include name="TC21"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>